<!DOCTYPE html>
<html lang="zh" class="dark">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1,user-scalable=no">
    <meta name="description" content="">
    <title>详细</title>
    <link rel="stylesheet" type="text/css" href="/css/detail.css"/>
    <style>
        body {
            background: #212121;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="width: 100%; height: 100%;">
        <div class="Content">
            <div class="news">
                <div class="container--3p09R">
                    <div class="crumb--1kyPd">
                        <div>
                            <a href="/home/"><span class="crumb--1kyPd">首页</span></a><span
                                class="crumb--1kyPd"> &gt; </span>
                            <a href="/news/"><span class="crumb--1kyPd">新闻动态</span></a>
                        </div>
                    </div>
                    <div class="title--29Jni">{{blogDetail.title}}</div>
                    <div class="date--1R4eB">{{blogDetail.createTime}}</div>
                    <article>
                        <div>
                            <p>
                                如果有一个词形容八月，那一定是流光溢彩。在为期一个月的资讯戏剧月里，我们穿梭在一场场故事性十足的戏剧里，体验了跌宕起伏的剧情。同时，我们也走进了一些创作者，了解背后同样精彩的人生。</p>
                            <p><br></p>
                            <h1>孟京辉「玩」转戏剧，揭秘创作背后的神秘</h1>
                            <p><br>中国剧坛最具影响力的戏剧导演孟京辉，以独具个性的创造力和多元化的艺术风格，开创了中国当代戏剧的新面貌。在这次资讯戏剧月里，孟导一改以往作风，也“玩心大开”，贡献了一把先锋版谐音梗。没想到先锋话剧导演玩起这种"冷笑话"也得心应手，网友不禁打趣，不愧是你，孟导总是这么先锋。
                            </p>
                            <p><br></p>
                            <div class="media-wrap image-wrap"><img
                                    src="https://sf3-draftcdn-tos.pstatp.com/obj/ies-hotsoon-draft/8300ab458df8cd3405790f177432835f">
                            </div>
                            <p><br>在直播首秀中，孟京辉和惊喜嘉宾老狼组成了限时版「青春组合」，和观众来了一次亲密的互动。两人默契地穿了相同风格的服装，连发型都非常相似，远看确实让人“傻傻分不清”。难怪有网友调侃，老狼就是孟京辉失散多年的孪生兄弟。
                            </p>
                            <p><br>随后，这对青春组合也为观众带来了才艺表演。在老狼吉他伴奏中，两人合唱了一曲老朋友张玮玮的《米店》，如同夏日悠扬的清流，浇熄了燥热。</p>
                            <p><br>另外，孟京辉的团队也为我们带来了一场回忆杀直播。导演刘畅，曾经出演《恋爱的犀牛》，和观众分享了饰演1500场"马路"的心路历程。</p>
                            <p><br>《一个陌生女人的来信》的女主角黄湘丽在咖啡厅回顾了这几年在剧场的点点滴滴，并为大家现场制作咖啡。</p>
                            <p><br>从前我们坐在台下，通过剧场唯一的纽带，只能感受演员作为角色传递出的喜怒哀乐。</p>
                            <p><br>如今通过直播，这些导演、演员的生活趣事和创作过程都真实地展现在眼前。此外，戏剧的“玩法”还将继续升级——由孟京辉、刘畅导演，村声文化携手资讯联合出品，倾心打造全新流媒体诗选剧集即将上线。先锋戏剧打破第四堵墙，黑猫剧团触电短视频平台，这是一次戏剧与影像的当代美学在新媒体平台上的碰撞和尝试，以追求极致的态度，呈现最多元的全新作品。<br><br>请期待，未来在资讯拥抱戏剧。
                            </p>
                            <h1><br>极致享受，沉醉于法式浪漫吟唱<br></h1>
                            <p><br>由著名音乐剧演员赵嘉艳献唱，节选自《悲惨世界》一首深情婉转的《我曾梦想 J’avais
                                rêvé》拉开了法国音乐戏剧直播的帷幕。一曲完毕，意犹未尽的弹幕此起彼伏，很多观众表示虽然听不懂法语，但通过表演者投入的演唱也能随之共情。随着《纹我
                                Tatoue-moi》、《Aimer》、《波西米亚人
                                Bohémienne》等歌曲接连不断放送，艺术家们带领观众走向了一个全新的国度，我们仿佛能够看到歌曲中的主人翁活灵活现地出现在眼前，他们的故事又重新上演了一遍。</p>
                            <p></p>
                            <p><br></p>
                            <div class="media-wrap image-wrap"><img
                                    src="https://sf3-draftcdn-tos.pstatp.com/obj/ies-hotsoon-draft/e4b688daa732983ad8937fbcd368b7fd">
                            </div>
                            <p></p>
                            <p><br>当《你将我毁灭Tu vas me
                                détruire》熟悉的旋律想起，观众一下子就回到了当年的巴黎圣母院，一个丑陋的敲钟人绝望地守护着自己纯真的爱恋，最终付出了生命。这首歌完美地展现了副主教、敲钟人和埃斯梅拉达三人之间的纠葛与挣扎。当最后一个音符终了，观众意犹未尽，为卡西莫多的悲情故事所打动，纷纷希望表演者能够再演唱一次。
                            </p>
                            <p><br>《以爱的名义 Au nom de l'amour》是首个中文版译成法语的音乐剧歌曲，并在本次直播中压轴播出，拓宽了音乐剧交流和创作的边界。</p>
                            <p><br>音乐剧的魅力或许就在于，能够跨越语言，跨越种族，甚至跨越时代。</p>
                            <p><br>除了听到了许多著名的音乐剧曲目，观众们还通过互动游戏了解了戏剧知识，好看又好玩。</p>
                            <h1><br>不眠之夜千场纪念，领略沉浸美学派对</h1>
                            <p><br>在《不眠之夜》上海版迎来第1000场演出纪念之际，SMG
                                Live联合资讯，奉献了一场名为"另一个世界"的特别直播，与上万观众云端相约，取得了非常热烈的反响。“超现实”的戏剧设定，融汇现代舞和爵士歌曲元素，观众在光怪陆离的夏日夜晚，共同见证了一场极富美学意境的“沉浸式”线上派对，引爆了《不眠之夜》千场纪念系列活动高潮。
                            </p>
                            <p><br>在深红色的曼德雷酒吧，映入眼帘的樱桃、玫瑰元素让画面出暗黑又浪漫的氛围。身穿1930年代华丽复古服饰的演员带观众进入一个光怪陆离的梦境之中，好像有一个神奇的魔力将我们拉入这一场狂欢之中…
                            </p>
                            <p></p>
                            <p><br></p>
                            <div class="media-wrap image-wrap"><img
                                    src="https://sf3-draftcdn-tos.pstatp.com/obj/ies-hotsoon-draft/c524dab0f7bfa9da3f53ee9bc78b8f4b">
                            </div>
                            <p><br></p>
                            <p>精彩绝伦的卡巴莱歌舞抓人眼球，我们的耳朵也经历了一场酣畅淋漓的洗礼。真不愿意醒来，在这一个美轮美奂的夜晚。</p>
                            <p><br></p>
                            <div class="media-wrap image-wrap"><img
                                    src="https://sf1-draftcdn-tos.pstatp.com/obj/ies-hotsoon-draft/167634303159ae64e8bbf7239f21b239">
                            </div>
                            <p></p>
                            <p></p>
                            <div class="media-wrap image-wrap"><img
                                    src="https://sf1-draftcdn-tos.pstatp.com/obj/ies-hotsoon-draft/9cf25a72a6052b863c0494a651606f89">
                            </div>
                            <p><br></p>
                            <p>
                                八月限定即将结束，但传统艺术与新兴表现形式的探索碰撞却不会停歇。有很多不曾接触过戏剧的观众被一系列直播活动所吸引，也有很多热爱戏剧的朋友，在阔别许久之后找回了戏剧带来的快乐。</p>
                            <p><br></p>
                            <p>如今，有越来越多的创作者们加入资讯，资讯相信这份热爱将会被一直延续，让更多人的感知戏剧，感受这份独特的文化魅力。</p>
                        </div>
                    </article>
                </div>
                <div class="footer--2WLdJ">
                    <div class="footer--2nhzB">
                        <div class="about--3RFFE">
                            <a target="_blank" rel="noopener noreferrer"
                               href="https://www.oceanengine.com/resource/douyin?source=dou">飞哥博客</a>
                            <a target="_blank" rel="noopener noreferrer"
                               href="https://www.douyin.com/agreements/?id=6773906068725565448">YYKK博客</a>
                            <a target="_blank" rel="noopener noreferrer"
                               href="https://www.douyin.com/agreements/?id=6773901168964798477">隐私政策</a>
                        </div>
                        <div class="security--1BtEt">
                            <div>
                                <div>2021 © 资讯 ｜&nbsp;
                                    <a target="_blank" rel="noopener noreferrer" href="https://beian.miit.gov.cn">京ICP备1xx3423号-3</a>&nbsp;
                                    ｜ 北京微播视界科技有限公司 ｜
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/api/blogDetail.js"></script>

</html>